body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

section {
    overflow: hidden;
    display: block;
    min-height: 700px;
}

.home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgb(0, 0, 0, 0.2); */
}

.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.spacer-footer {
    aspect-ratio: 960/50;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 11;
}

.layer1 {
    background-image: url(../img/layered-waves-haikei-dark.svg);
}

.layer2 {
    background-image: url(../img/wave-haikei.svg);
}

.flip {
    transform: rotate(180deg);
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-light {
    background-color: transparent !important;
}

.scrolled {
    background-color: white !important;
}

.navbar-nav .nav-item {
    padding: 0rem 1rem;
    /* margin-top: 1rem; */
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link {
    color: #0031B0 !important;
}

.hero-text {
    color: white;
    margin-top: 30rem;
}

.hero-text{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.landing-title {
    font-weight: 800;
    font-size: 8vw;
    display: inline-block;
    line-height: 1;
}

.title-full {
    font-weight: 400;
    font-size: 2vw;
    flex-wrap: wrap;
    display: inline-block;
    line-height: 1;
}

.text-loc {
    font-weight: 500;
    font-size: 2.5vw;
    flex-wrap: wrap;
    display: inline-block;
    line-height: 1;
}

@media screen and (max-width: 767px) {
    .landing-title {
        font-size: 11vw;
    }

    .title-full {
        font-size: 3.8vw;
    }

    .text-loc {
        font-size: 4vw;
    }
    
    


}

.about h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #0031B0;
}

.about p {
    font-size: 1.4rem;
    color: #279AF1;
}

.about img {
    width: 80%;
}

.mitb img {
    width: 60%;
}

.mitb h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #0031B0;
}

.mitb p {
    font-size: 1.4rem;
    color: #279AF1;
}

.organisers {
    background-color: #0434b4;
    height: 500px;
}

.organisers .main-gallery {
    background: #0434b4;
    height: 75%;
}

.gallery-cell {
    width: 40%;
    height: 350px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
}

.card-image {
    flex: 0 1 auto; 
    margin-right: 30px;
}

.card-image img {
    border-radius: 50%; 
    width: 200px; 
    height: 200px;
    object-fit: cover;
}

.card-content {
    flex: 1 1 0; 
}

.name {
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0;
}

.event-designation {
    font-size: 1.75vw;
    margin: -1.25vh 0 5px 0;
    font-weight: 400;
}

.designation {
    font-size: 1.35vw;
    line-height: 1.5;
    margin: 0;
}


@media (max-width: 767px) {
    .gallery-cell {
      flex-direction: column; 
    }
  
    .card-image {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .card-image img {
      width: 80px;
      height: 80px;
    }
  
    .card-content {
      text-align: center;
    }

    .name {
        font-size: 2.5vh;
        font-weight: bold;
        margin: 0;
    }
    
    .event-designation {
        font-size: 1.75vh;
        font-weight: 400;
        margin: 1vh 0 1vh 0;
    }
    
    .designation {
        font-size: 1.4vh;
        line-height: 1.5;
        margin: 0;
    }

}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
  
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.image {
    width: 30vw;
    height: auto;
}

.para {
    flex: 1;
    flex-wrap: wrap;
    border: 3px dashed lightgray;
    border-radius: 20px;
}

.img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container.logo img{
    width:35vw;
    height: 65vh;
}

p.text {
    flex: 1;
    flex-wrap: wrap;
    font-size: 10vw;
    padding: 10px;
    margin-left: 40px;
}

.header{
    color: #0031B0;
    font-weight: 800;
    font-size: 5vw;
}

.header-larger {
    color: #0031B0;
    font-weight: 800;
    font-size: 5.5vw;
}

@media screen and (max-width:767px) {
    .para {
        margin: 20px 0 0 0;
    }
    .row {
        margin: 0;
        flex-wrap: wrap;
    }

    p.text {
        margin-left: 0;
    }

    .img-container.logo img {
        width: 50vw;
        max-width: 100%;
        min-width: 245px;
        min-height: 350px;
        height: auto;

    }

    .img-container.conf-logo .image {
        min-width: 265px;
        min-height: 212px;
    }

    .animated-blob svg {
        position: absolute;
        bottom: 0;
        right: 50%;
    }

    .organisers h2.title {
        font-size: 8vw !important;
    }
}

.last-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    min-height: 500px;
}

.last-section .animated-blob {
    display: flex;
    flex:1;
    justify-content: flex-start;
    align-items: center;
}

.last-section .schedule-img  img{
    margin-left: 10vw;
    width: 50vw;
    height: auto;
    margin-right: -5vw;
}

@media screen and (max-width: 767px) {

    .last-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .last-section .schedule-img img {
        width: 90vw;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .last-section .animated-blob {
        width: 90vw;
        height: auto;
    }   
}

section.bg-drkblue {
    background-color: #002280;
    min-height: 300px;
}